.suggestion_list{
    position: absolute;
    top: 45px;
    left: 155px;
    z-index: 99999;

    ul {
        min-width: 150px;
        border: 1px solid rgb(168, 168, 168);
        list-style: none;
    }
    li{
        background-color: white;
        padding: 5px;
        font-weight: bold;
        height: 20px;
        border: 0;
        cursor: pointer;
    }

}