@import "/src/style/mixins.scss";
@import "/src/style/variables.scss";

.wrapper{
    height: 100%;
    border: 1px solid rgb(231, 231, 231);

    header{
        font-size: 1.2rem;
        text-align: center;
        padding: 10px;
        font-family: $font-node-nav-header;
    }

    ul {
        margin: 0;
        padding: 0;
      }

      li {
       @include server_flow_list;
      }

      .flow_list_item {
       @include server_flow_list_item;
      }

}