@import "/src/style/variables.scss";
@import "/src/style/mixins.scss";

.tabs {
  display: flex;

  padding-left: 10px;

  .tab_wrapper {
    list-style: none;

    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    padding: 3px 10px;
    width: 120px;
    display: grid;
    grid-template-columns: 100px 20px;
    align-items: center;
    position: relative;

    &.active {
      background-color: rgb(167, 166, 166);
      color: rgb(255, 255, 255);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    transition: color 0.2s ease-in;
    transition: background-color 0.2s ease-in;

    .tab_name {
      max-width: 80px;
      height: 20px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .close_tab_btn {
      button {
        @include red_btn;
        font-size: 0.6rem;
      }
    }
  }
}
