@import "/src/style/variables.scss";
@import "/src/style/mixins.scss";

.table_wrapper {
  max-height: 800px;
  overflow-y: auto;
  margin-bottom: 20px;

  table {
    @include server_table;
    table-layout: fixed;

    tr {
      th,
      td {
        font-size: 0.8rem;
        cursor: pointer;
        button {
          @include red_btn;
        }
      }
    }
  }

  .add_row_btn {
    display: flex;
    justify-content: right;
    margin-bottom: 10px;

    button {
      @include blue_btn;
    }
  }
}
