@import "/src/style/variables.scss";
@import "/src/style/mixins.scss";

.wrapper{

    header{
        font-weight: bold;
        text-align: center;
    }
    table {
        width: 100%;
        margin-bottom: 20px;
        thead {
          font-style: italic;
  
          th {
            text-align: left;    
          }
  
          margin-bottom: 20px;
        }
  
        tbody {
          .flow_name {
            font-weight: bold;
  
            color: $color-node-nav-icon;
            cursor: pointer;
          }
        }
      }
}