@import "/src/style/variables.scss";

.container {
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}


.modal_window {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: rgb(0, 0, 0);
    z-index: 9999;
    border-radius: 16px;
    box-shadow: $shadow-node-nav-container;
    overflow: wrap;
    min-width: 300px;
    min-height: 100px;
    font-family: $font-node-nav-list;
}


.modal_header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;

}


.modal_body {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;


    span {
        font-weight: bolder;
        margin-left: 5px;
        margin-right: 5px;
    }

    input[type="text"] {
        margin-left: 0;
        border: 1px solid rgb(160, 157, 157);
        border-radius: 5px;
        width: 120px;
        text-align: center;
    }
}

.warning_message {

    color: $color-warning-message;
    margin-bottom: 20px;
    font-weight: bold;

    p {
        font-size: 0.8rem;
        padding: 0;
        margin: 0;
        text-align: center;
    }
}

.modal_footer {

    .buttons_wrapper {
        display: flex;
        justify-content: flex-end;
        gap: 5px;

        button {
            border-radius: 5px;
            border: none;
            background-color: $bg-top-menu-btn-default;
            color: white;
            font-weight: bold;
            padding: 5px 10px;

        }
    }

    .input_wrapper {
        display: grid;
        grid-template-columns: 4fr 8fr;
        justify-content: start;
        margin-bottom: 20px;

        label {
            margin-right: 5px;
        }

        input {
            border-radius: 5px;
            border: 1px solid gray;
            outline: none;

        }
    }

    .error_message {
        color: red;
        font-style: italic;
    }


}