@import "/src/style/variables.scss";
@import "/src/style/mixins.scss";
;

.node_list_container {
    padding: 0;
    margin: 0;
    overflow: hidden;
    max-height: 1000px;

    &.opened {
        max-height: 1000px;
        animation: dropdownOpen 0.5s ease-in-out;

    }

    &.closed {
        max-height: 0;
        animation: dropdownClose 0.5s ease-in-out;

    }
}

@keyframes dropdownOpen {
    from {
        max-height: 0;
    }

    to {
        max-height: 1000px;

    }
}

@keyframes dropdownClose {
    from {
        max-height: 1000px;

    }

    to {
        max-height: 0;
    }
}

.node_list_item {
    list-style: none;
    position: relative;
}

.section_header {
    position: relative;

    span {
        position: absolute;
        top: 0;
        right: 10px;
        cursor: pointer;
        color: $color-node-nav-container-header ;
    }
}