@import "/src/style/variables.scss";
@import "/src/style/mixins.scss";

.wrapper {

    @include modal_container; 
}

.modal_window {
    @include modal_window;  
}

.modal_header {
    @include modal_header;

}

.modal_body {
    @include modal_body;
   
    .form {

        .directive_item {
            display: grid;
            grid-template-columns: 4fr 8fr;
            margin-bottom: 10px;

        }

        label,
        input {
            display: inline-block;

        }

        input,select {
            width: 100%;
            border-radius: 5px;
            border: 1px solid $color-list-border-darker;
            padding-left: 5px;

        }


        label {
            font-weight: bold;

        }

   
    }

}