@import "/src/style/variables.scss";
@import "/src/style/mixins.scss";

.wrapper {
    max-height: 300px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;

    li {

        font-size: 0.75rem;
        border-bottom: 1px solid $color-list-border;

        height: 40px;
        display: grid;
        grid-template-columns: 5fr 6fr 1fr;
        justify-items: start;
        position: relative;

        button {
            background-color: rgb(241, 92, 92);
            cursor: pointer;
        }

        .param_name {
            border-right: 1px solid $color-list-border;
            width: 130px;
            padding-left: 10px;
            margin-left: 0;

            &:hover {
                background-color: $color-list-border;
            }

            transition: background-color 0.3s ease-in-out;

        }

        input {
            @include overflow_input(120px)
        }


    }





    .add_property_container {
        display: flex;
        justify-content: center;
        background-color: red;


    }

    form {
        display: flex;
        flex-direction: column;


        .input_wrapper,
        .value_wrapper {

            display: flex;
            margin-bottom: 10px;
        }

        .value_wrapper {
            position: relative;

        }

        .btn_wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1px;


        }


    }

    button {
        font-size: 0.7rem;
        text-align: center;
        background-color: $color-node-nav-icon;
        color: white;
        padding: 5px;
    }

    .error_message {
        color: red;
    }


}