@import "../../../style/variables.scss";
@import "../../../style/mixins.scss";



.node_list_btn {
    @include left_panel_btn($bg-node-nav-btn);

}

.node_list_icon {
    margin-right: 10px;
    color: $color-node-nav-icon;
    font-size: large;
    position: absolute;
    left: 20px;
}