@import "../../../style/variables.scss";



.node_list_btn {
    font-family: $font-node-nav-list;
    width: 100%;
    height: 40px;
    border: 0;
    background-color: $bg-node-nav-btn;
    color: $color-node-nav-btn;
    font-weight: bold;
    border-bottom: 1px solid rgb(219, 219, 219);
    text-align: left;
    padding-left: 45px;

}

.node_list_icon {
    margin-right: 10px;
    color: $color-node-nav-icon;
    font-size: large;
    position: absolute;
    left: 20px;
}