.wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 15px;
    height: 100%;
    position: relative;

    .icon {
        color: white;
        cursor: pointer;
        font-size: 1em;
        padding-top: 10px;
    }

    .badge {
        position: absolute;
        right: -10px;
        bottom:20px;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 3px 5px;
        font-size: 10px;
    }
}