@import "../../../../style/mixins.scss";
@import "../../../../style/variables.scss";

.wrapper {
  @include dropdown_menu;
  right: 5px;

  .settings_title{
    @include dropdown_menu_section_title
  }

  .settings_icon {
    @include dropdown_menu_icon;
  }
  ul {
    margin: 0 auto;
  }

  .check_input {
    display: flex;
    justify-content: flex-end;
  }

  .settings_dropdown {
    @include dropdown_menu_section_title;
  }

  .slider_value{
    position: absolute;
    left: 100px;
    font-size: small;
    top:11px;
    left: 80px;
  }

  .slider_container{
    position: relative;
  }

}
