@import "/src/style/variables.scss";
@import "/src/style/mixins.scss";

.container {
  @include modal_container;

  h3 {
    text-align: center;
  }

  .body {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;

  }

  .footer {
    display: flex;
    justify-content: end;

    button {
      background-color: $bg-top-menu-btn-default;
      border: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 5px;
      margin-left: 5px;
      color: white;
    }
  }
}