@font-face {
    font-family: 'BlockMenuHeader';
    src: url('../fonts/Rajdhani-Regular.ttf');
    /* Add other font properties if needed */
}

@font-face {
    font-family: 'Richard';
    src: url('../fonts/Inter-Regular.ttf');
    /* Add other font properties if needed */
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf');
    /* Add other font properties if needed */
}