@import "./variables.scss";

//Left Panel
@mixin left_panel_btn($bg) {
  font-family: $font-node-nav-header;
  width: 100%;
  height: 40px;
  border: 0;
  background-color: $bg;
  color: $color-node-nav-btn;
  font-weight: bolder;
  font-size: 0.9rem;
  border-bottom: 1px solid rgb(219, 219, 219);
  text-align: left;
  padding-left: 60px;
  cursor: pointer;

  &:hover {
    background-color: darken($color: $bg, $amount: 10%);
  }

  transition: background-color 0.3s ease;
}

//Right Panel
@mixin section_header {
  padding-top: 15px;
  font-weight: bold;
  font-family: $font-node-nav-header;
  color: $color-node-nav-container-header;
  font-size: 1.2rem;
  margin-bottom: 15px;
  text-align: center;
}

@mixin section_container {
  h5 {
    color: $color-node-nav-container-header;
    text-align: left;
    padding: 10px;
    font-size: 1rem;
    margin: 0;
    font-family: $font-node-nav-header;

    background-color: $bg-node-nav-btn;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  label {
    font-family: $font-node-nav-list;
    color: $color-node-nav-container-header;
  }

  input {
    font-family: $font-node-nav-list;
    outline: none;
    margin-left: 10px;

    &[type="text"] {
      border: 0;
      width: 100%;
    }

    &[type="number"] {
      border: 0;
      width: 100%;
    }

    &[type="color"] {
      border: 1px solid gainsboro;
      border-radius: 3px;
      background-color: $bg-node-nav-btn;
    }
  }

  button {
    font-family: $font-node-nav-list;
    width: 100%;
    height: 40px;
    border: 0;
    background-color: $bg-node-nav-btn;
    color: $color-node-nav-btn;
    font-weight: bold;
    box-shadow: $shadow-node-nav-btn;
    text-align: left;
    padding-left: 45px;
  }

  .color_input {
    display: flex;
    align-items: center;
  }

  .radio {
    display: flex;
    width: 100%;
    align-items: center;
  }
}

@mixin server_table {
  width: 100%;
  border-collapse: collapse;

  thead {


    tr {
      text-align: center;
      background-color: $bg-node-nav-btn;

      height: 40px;

      th {

        font-style: italic;

      }
    }
  }

  tbody {
    td {
      border: 1px solid rgb(235, 235, 235);
      width: 50%;
      padding: 10px;
      background-color: rgb(255, 255, 255);
      color: gray;


    }
  }
}

@mixin disabled_input {
  background-color: rgb(218, 218, 218);
  padding-left: 5px;
  font-style: italic;
  color: gray;
}

@mixin dropdown_menu {
  position: absolute;
  top: 35px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: auto;
  border-radius: 3px;
  font-family: $font-node-nav-header;

  ul {
    padding: 0;
  }

  li {
    display: grid;
    grid-template-columns: 6fr 6fr;
    padding: 10px;

    text-align: left;
    color: black;
    font-size: 0.9rem;

    font-weight: bold;

    &:hover {
      background-color: lighten($color-node-nav-icon, 55%);
    }

    transition: background-color 0.3s ease;
  }
}

@mixin dropdown_menu_icon {
  display: flex;
  justify-content: center;
  color: $color-node-nav-icon;
}

@mixin dropdown_menu_section_title {
  text-align: center;
  font-weight: bold;

  padding: 5px;
  border-bottom: 1px solid rgb(230, 230, 230);
  background-color: rgb(245, 245, 245);
}

@mixin overflow_input ($width) {
  text-overflow: ellipsis;
  max-width: $width;
  overflow: hidden;
}