@import "../../style/variables.scss";

.wrapper {
    position: fixed;
    top: 41px;
    left: 0;
    z-index: 1000;

    @media print {
        display: none;
    }
}

.add_node_container {
    position: relative;
    width: 280px;
    height: 100vh;
    background-color: $bg-node-nav-container;
    box-shadow: $shadow-node-nav-container;
}

.header {
    padding-top: 15px;
    font-weight: bold;
    font-family: $font-node-nav-header;
    color: $color-node-nav-container-header;
    font-size: 1.8rem;

}

.node_list {
    h5 {
        color: $color-node-nav-container-header;
        text-align: left;
        padding-left: 20px;
        font-family: $font-node-nav-list;
    }
}

.node_list_disabled {
    height: 20px;
}