@import "/src/style/variables.scss";
@import "/src/style/mixins.scss";

.wrapper {
  position: relative;
  height: 50px;
  background-color: $bg-top-menu-btn-default;
  color: white;
  font-family: $font-node-nav-header;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .designer_button{
    position: absolute;
    left: 80px;
    top: 0;

    button {
      @include server_header_btn;
      margin-left: 20px;
    }
  }

  .server_button {
    position: absolute;
    left: 0;
    top: 0;

    button {
      @include server_header_btn;
      margin-left: 20px;
    }
  }

  .logout_container {
    position: absolute;
    right: 0;
    top: 0;

    button {
      @include server_header_btn;
      margin-right: 20px;
    }
  }
}