@import "/src/style/variables.scss";
@import "/src/style/mixins.scss";
;

.nav_list {
  display: flex;
  padding-left: 20px;
  margin: 0;

  .nav_list_item {
    list-style: none;
    margin-right: 30px;
    font-family: $font-node-nav-header;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
  }
}

.view_section_hidden {
  display: none;
}