@import "/src/style/mixins.scss";
@import "/src/style/variables.scss";

.wrapper {
  height: 100%;
  border: 1px solid rgb(231, 231, 231);

  .sections_container {
    .section {
      position: relative;
      overflow-x: auto;
      background-color: $bg-node-nav-container;

      &.opened {
        width: 100%;
        transition: width 0.3s ease-out;
      }

      &.closed {
        width: 0px;
        transition: width 0.3s ease-out;
      }

      transition: width 0.3s ease-out;

      ul {
        margin: 0;
        padding: 0;
      }

      li {
        @include server_flow_list;
        cursor: pointer;
      }

      h5 {
        cursor: pointer;
      }

      .flow_list_item {
        @include server_flow_list_item;
        position: relative;
      
      }

      .flow_list_title_wrapper{
      
        height: 100%;
        padding-left: 10px;
        display: flex;
        align-items: center;
      }

      .flow_list_btn_wrapper {
        @include server_flow_list_btn_wrapper;
        button{
          @include blue-btn;
          
        }
      }
      
      .flow_list_dropdown_actions{
        position:  absolute;
        right: 5px;
        top: 5px;
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 1px solid $color-list-border-darker;
        border-radius: 5px;
        padding: 10px;
        z-index: 9999;

        .delete_btn,button{
          @include blue-btn;
          font-size: 0.7rem;
          margin-bottom: 2px;
        }

        .delete_btn{
          background-color: $bg-delete-btn;
        }
        
      }

      .draft_list_item_wrapper {
        .folder_name {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-left: 10px;
          height: 40px;
          color: $color-node-nav-container-header;
          cursor: pointer;
          span {
            margin-right: 10px;
          }
        }

        border-bottom: 1px solid rgb(204, 204, 204);
      }

      .section_header {
        display: flex;
        align-items: center;

        .section_title {
          color: $color-node-nav-container-header;
          text-align: left;
          padding-left: 20px;
        }

        .header_icon {
          padding-left: 10px;
        }

        .arrow_icon {
          position: absolute;
          top: 20px;
          right: 10px;
          cursor: pointer;
          color: $color-node-nav-container-header;
        }
      }
    }
  }
}
