@import "/src/style/mixins.scss";
@import "/src/style/variables.scss";

.wrapper {
  height: 100%;
  border: 1px solid rgb(231, 231, 231);

  .sections_container {
    .section {
      position: relative;
      overflow-x: auto;

      background-color: $bg-node-nav-container;

      &.opened {
        width: 100%;
        transition: width 0.3s ease-out;
      }

      &.closed {
        width: 0px;
        transition: width 0.3s ease-out;
      }

      transition: width 0.3s ease-out;

      ul {
        margin: 0;
        padding: 0;
      }

      li {
        cursor: pointer;
        list-style: none;
        font-weight: bold;
        font-family: $font-node-nav-header;
        background-color: $bg-node-nav-btn;
        padding: 10px 0px 10px 20px;
        border-bottom: 1px solid rgb(204, 204, 204);
      }

      .flow_list {
        display: grid;
        grid-template-columns: 6fr 6fr;
        align-items: center;

        &.selected {
          background-color: rgb(179, 179, 179);
        }

        transition: background-color 0.3s ease-in-out;

        .flow_list_btn_wrapper {
          width: 100%;
          display: flex;
          justify-content: right;

          button {
            margin-right: 5px;
            background-color: $bg-top-menu-btn-default;
            color: white;
            padding: 7px;
            border: none;
            z-index: 1000;
          }
        }
      }

      .draft_list_item_wrapper{
        .folder_name{
          padding-left: 10px;
          font-family: $font-node-nav-header;
          font-weight: bold;
          color: $color-node-nav-container-header;
         
        }
        border-bottom: 1px solid rgb(204, 204, 204);
      }

     

      .section_header {
        display: flex;
        align-items: center;

        .section_title {
          color: $color-node-nav-container-header;
          text-align: left;
          padding-left: 20px;
          font-family: $font-node-nav-list;
        }

        .header_icon {
          padding-left: 10px;
        }

        .arrow_icon {
          position: absolute;
          top: 20px;
          right: 10px;
          cursor: pointer;
          color: $color-node-nav-container-header;
        }
      }
    }
  }
}