@import "/src/style/variables.scss";
@import "/src/style/mixins.scss";

.wrapper {
  @include nav_wrapper;

  .title {
    font-size: 1rem;
    color: white;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $breakpoint-lg) {
      font-size: 1rem;
    }
  }

  .nav_btns_wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    z-index: 1000;

    .notifications_button,
    .designer_button {
      color: white;
      position: relative;
      button {
        @include server_header_btn;
        margin-left: 20px;
      }
    }

    .notifications_button {
      span {
        position: absolute;
        right: -10px;
        top: -8px;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 2px 5px;
        font-size: 12px;

      }
    }
  }

  .nav_right_btns_wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: right;
    z-index: 1000;
  }
}
