@import "/src/style/variables.scss";
@import "/src/style/mixins.scss";

.wrapper {
  padding: 20px;

  .metrics_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 900px;

    &.resized {
      grid-template-columns: 12fr;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
      gap: 0;
    }

    &.not_resized {
      grid-template-columns: 6fr 6fr;
    }
  }
}
