@import "/src/style/variables.scss";
@import "/src/style/mixins.scss";


.wrapper {
  grid-column: 2;

  .nav_list {
    display: flex;
    justify-content: center;

    li {
      list-style: none;
    }

    .nav_list_item {

      margin-right: 30px;
      font-family: $font-node-nav-header;

      padding: 0;
      cursor: pointer;
    }

    .server_button {
      position: absolute;
      left: 20px;
      top: 6px;


      button {
        margin-left: 20px;
        background-color: $bg-top-menu-btn-default;
        padding: 5px 10px;
        border: 0;
        border-radius: 5px;
        color: white;
        font-family: $font-node-nav-header;



        &:hover {
          background-color: $bg-top-menu-btn-hover;
        }

        transition: background-color 0.2s ease-in-out;
      }
    }
  }

  .view_section_hidden {
    display: none;
  }
}